* {
    font-family: Arial , Verdana , sans serif;
    color: #665544;
    text-align : left;}
body {
    width: 960px;
    margin: 0 auto;}
#content, table {
    overflow: auto;
    height: 100%;}
#nav, #feature, #footer {
    background-color : #efefef;
    padding: 10px;
    margin: 10px;}
li {
    display: inline;
    padding: 15px;}
ul {
	text-align : center;}
	
h1, h2 {
    color: green;
	font-family: Luminari, Marker Felt, Trattatello;
	text-align : center;}	
h3 {
    color: green;
	text-align : left;}	
h4 {
    color: brown;	
    text-align : left;}	
.homeo {
	width: 400px;
	margin-left: 200px;}
figcaption {
    text-align: center;}
table {
	border: none;
	margin-left: 150px;}
th,td {
    border: none;
    background-color: PaleGreen;
    padding: 5px;
    width: 300px;}
th {
    color: brown;
	text-align: center;}	
a {	
   font-family: fantasy;}
	